/* @font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: 'Kurale', serif; 
    background: #2d3436;
}
header .navbar{padding: .5rem 0;}
header nav.navbar .navbar-brand{color:#fff;}
section.todo-outer {
    width: 100%;
    float: left;
    padding: 30px 0;
}
section.todo-outer h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.todo-inner {
    width: 100%;
    float: left;
    padding: 40px;
    box-shadow: 10px 10px 15px rgb(192, 183, 183), -10px -10px 15px #3c6382;
    background: #0a3d62;
    color: #fff;
    border-radius: 20px;
}
table tr td button {
    background: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}

.navbar-brand {
    font-size: 3rem;
}
.custom-heading{
text-transform: uppercase;
background-color: #e0a800;
text-align: center;
font-size: 30px;
padding: 5px 10px;
border-radius: 5px;
}
td{
    text-align: left;
    font-size: 18px;
}